/* Login.css */
.login-container {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #ff7eb9, #ff65a3);
    padding: 40px;
    border-radius: 8px;
    max-width: 450px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: white;
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Arial', sans-serif;
    font-size: 28px;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 100%;
  }
  
  label {
    color: white;
    font-size: 16px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #f4358b;
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    transition: 0.3s;
  }
  
  input:focus {
    border-color: #f82478;
    background-color: white;
  }
  
  .auth-btn {
    width: 100%;
    padding: 14px;
    background-color: #f62378;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .auth-btn:hover {
    background-color: #f12782;
  }
  
  .toggle {
    color: #ee2c83;
    font-weight: bold;
    cursor: pointer;
  }
  
  .toggle:hover {
    text-decoration: underline;
  }
  
  p {
    color: white;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .forgot-password {
    color: #aa0b53;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 480px) {
    .login-container {
      padding: 30px;
      max-width: 100%;
    }
  
    h2 {
      font-size: 24px;
    }
  
    .auth-btn {
      font-size: 16px;
      padding: 12px;
    }
  }
  