.orders-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background:  #edcfed ;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.orders-container h1 {
   font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  text-align: center;
 
  color: #b8005c; /* Dark pink */
  margin-bottom: 20px;
}

.order-card {
   background: white;
  border: 2px solid #b8005c;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  transition: transform 0.2s ease-in-out;
}

.order-card:hover {
  transform: scale(1.02);
}

.order-card h2 {
  font-size: 20px;
  color: #b8005c;
  margin-bottom: 10px;
}

.order-card p {
  font-size: 16px;
  color: #444;
  margin: 5px 0;
}

.order-card h3 {
  font-size: 18px;
  color: #b8005c;
  margin-top: 10px;
}

.order-item {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.order-item:last-child {
  border-bottom: none;
}

.order-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.order-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
  border: 2px solid #b8005c;
}

.order-details p {
  margin: 0;
  font-size: 16px;
}

.order-details p:nth-child(2) {
  font-weight: bold;
  color: #b8005c;
}
