/* PlaceOrder.css */
.place-order-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
  gap: 20px;
  background-color: #edcfed;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.order-form, .order-summary {
  background-color: white;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 300px;
}

.order-form h2 {
   font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #c2185b;
  margin-bottom: 20px;
}

.order-form label {
  font-size: 1rem;
  font-weight: 600;
  color: #444;
  display: block;
  margin-bottom: 6px;
}

.order-form input,
.order-form textarea {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: border 0.2s ease;
}

.order-form input:focus,
.order-form textarea:focus {
  border-color: #c2185b;
  outline: none;
}

.error {
  color: #d50000;
  font-size: 0.9rem;
  margin-top: -10px;
  margin-bottom: 10px;
  display: block;
}

.order-summary p {
  font-size: 1.1rem;
  margin: 10px 0;
  color: #333;
}

.order-summary h3 {
  font-size: 30px;
   text-align: center;
   color: #c2185b;
  margin-bottom: 20px;
}
.order-summary h4 {
  margin-top: 25px;
  color: #c2185b;
}

.order-summary input[type="radio"] {
  margin-right: 10px;
  accent-color: #c2185b;
}

.buy-button {
  width: 100%;
  padding: 14px;
  margin-top: 25px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background: #c2185b;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.buy-button:hover {
  background: #a3154b;
}

.payment-options-row {
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 20px 0;
}

.payment-option {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: #111;
}

.payment-option input[type="radio"] {
  accent-color: #c2185b;
  transform: scale(1.3);
  cursor: pointer;
}


@media (max-width: 768px) {
  .place-order-container {
    flex-direction: column;
  }
}
